.head{
    background-color: rgb(24, 91, 225);
    color:white;
    
}
.space{
    color:white;
    justify-content:end;
    padding: 20px;
}
.color{
    color: white;
    padding: 20px;
}
.btn{
    padding: 20px;
    
}
.hamburger{
    display: none;
    background:none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index:1002;
}
.hamburger2{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition:all 0.3s ease;

}

.desktop-nav {
  display: flex;
  /* Show by default */
  gap: 25px;
  /* Space between links */
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-item:hover {
  color: #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
}